body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c4b3b3;
  text-align: center;
}

.card {
  width: 400px;
  margin: 30px auto;
  background: #e6a4a4;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  background: #b65970;
  color: #850404;
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

.logo img {
  width: 300px;
  margin: 20px 0;
}

.info {
  color: #5c0202;
  line-height: 1.8;
  font-size: 18px;
}

.footer {
  margin-top: 10px;
  font-size: 14px;
}
