
.card {
  width: 400px;
  background-color: #fcdada;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 10px;
}

.title {
  background-color: #e07d96;
  color: #850404;
  padding: 10px;
  text-align: center;
}

.logo {
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 250px;
}

.info {
  color: #5c0202;
  text-align: center;
}

.footer {
  text-align: center;
}
